.routes {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: center;
  align-items: center;
  gap: 2rem;
}
.routes :hover {
  cursor: pointer;
}
body {
  background-color: rgb(236, 236, 227);
}
.container {
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 10rem;
  justify-content: center;
}
.login-container {
  padding: 40px;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  gap: 2rem;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textfield {
  width: 100%;
}
.forgot :hover {
  cursor: pointer;
}
.signup-container {
  padding: 40px;
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  gap: 2rem;
}
.passwordChange-container {
  padding: 40px;
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  gap: 2rem;
}
.forgotpassword-container {
  padding: 40px;
  width: 400px;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.error-message {
  color: red;
}
